.title {
    font-family: nexaRegular;
    font-size: 57px;
    font-weight: 900;
}
.sort-area {
    @apply flex pb-4;
}

button{
    color: #0E103B;
    width: 110px;
    justify-content: center;
    border-radius: 50px;
    font-style: normal;
    font-weight: 600; 
    border-color : #0E103B;
    @apply p-1 border;
}

button:hover{
    background-color: #F5F8E0;
}

button:focus{
    background-color: #0E103B;
    color: white;
}
.buttons-sort {
    @apply flex px-4 ;
}
.buttons-sort button {
    margin-right: 10px;
}
.row {
    @apply grid grid-cols-5;
}
.card {
    width: 15vw;
    margin-bottom: 40px;
}
.photo img {
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height : 23.63vh;
    width: 15vw;
}
.below-area{
    background-color: #F5F8E0;
    height : 80px;
    padding-top : 10px;
    padding-bottom : 10px;
    padding-left: 10px;
    @apply flex justify-between items-center;
}
.name-date {
    height:100%;
    width:12vw;
}
.name {
    font-weight: 700;
    font-size: 20px;
    overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.date {
    font-weight: 700;
    font-size : 14px;  
    opacity: 50%; 
    overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.below-area img {
    margin-right : 0.57vw;
    width : 2vw;

}
.move-page-area {
    font-weight: 700;
    font-size: 20px;
    width : 100;
    margin-bottom: 2vh;
    margin-right: 1vw;
    margin-left: 1vw;
    
    @apply flex justify-between underline;
}
.previous-page {
    cursor : pointer;
}
.next-page {
    cursor : pointer;
}