.center {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url("/assets/img/blurCompletebg.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    overflow: hidden;
}

header{
    width: 100%;
    height: 12%;
    background-color: #0E103B;
}

.square-bg {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px dashed var(--Noir, #0E103B);
    background: var(--Blanc, #F5F8E0);
    box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.25);
    transform: rotate(-3deg);
    width: 50%;
    height: 100%;
    position: relative;
    top: 20%;
}

.bee {
    width: 25%;
    margin-bottom: 3%;
}

h2{
    color: var(--Noir, #0E103B);
    font-size: 57px;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    margin: 3% 0px -5% 0px;
    font-family: 'nexaRegular';
}

p {
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    font-family: 'pantonRegular';
    max-width: 430px !important;
}

.borderPara{
    max-width: 430px;
}

.text-square {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px 35px;    
    font-size: 16px;
    font-weight: 100;
}

.btn_all{
    display: flex;
    justify-content: space-between;
    width: 430px;
    transform: rotate(3deg);
    margin-top: 2%;
    margin-left: -27px;
}

.btn-color2{
    color: #0E103B !important;
    background-color: #B7C90D !important;
}

.btn-color2:hover {
    cursor: pointer;
    background-color: #94a31f !important;
}

.btn-style{
    background-color: #0E103B;
    color: #F5F8E0;
    width: 205px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-radius: 50px;
    font-family: 'pantonRegular';
    font-size: 18px;
    font-style: normal;
    font-weight: 700; 
}
    .btn-style:hover {
        cursor: pointer;
        background-color: #0E101D;
    }

.non-rotate{
    transform: rotate(1.5deg);
}

@media only screen and (max-width: 1200px) {
    .square-bg{
        width: 80%;
    }
}

@media only screen and (max-width: 930px) {
    p{
        font-size: 17px;
    }
    .btn-style{
        width: 185px;
        
    }
    .btn_all{
        width: 380px;
        margin-left: 0px;
    }
}

/* Réajuster pour les versions tablette */
@media only screen and (max-width: 814px) {
    p {
        font-family: 'pantonBold';
        font-style: normal;
        font-size: 16px;
        font-weight: 800;
        line-height: 170%;
        text-align: center;
    }
    .bee{
        margin-top: 2%;
        margin-bottom: 4%;
    }
    .square-bg{
        width: 120%;
        top: 0%;
        height: 55%;
        margin-top: 10%;
        margin-bottom: 15%;
    }
    h2{
        font-size: 51px;
    }
}

/* Réajuster pour les versions mobile */
@media only screen and (max-width: 500px) {
    header{
        height: 8%;
    }
    .center {
        background-image: url("/assets/img/thanksBackgroundMobile.png");
    }
    .bee{
        margin-left: 5%;
    }
    .borderPara{
        margin-left: 5%;
    }

    p {
        font-family: 'pantonBold';
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }
    h2{
        font-size: 42px;
        margin-bottom: -20%;
    }
    
}

@media only screen and (max-width: 420px) {
    p{
        font-size: 14px;
    }
    h2{
        margin-top: -20%;
    }

    .borderPara{
        max-width: 80%;
    }
    .bee{
        margin-top: 1%;
        margin-bottom: 3%;
    }
    .btn_all{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;
    }
    .btn-style{
        padding: 8px;
    }
    .btn-color2{
        margin-top: 2%;
    }
}
