<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merci !</title>
</head>
<body>
    <header></header>
    <div class="center">
        <h2>Saviez-vous <br>que... ?</h2>
        <div class="square-bg">
            <div class="non-rotate text-square">
                <img class="bee " src="/assets/img/home/abeille.svg" alt="">
                <div class="borderPara non-rotate">
                    <p class="para">{{ texte }}</p>
                </div>
            </div>
            <div class="btn_all">
                <a class="btn-style" routerLink="/photo-information">Retour</a>
                <a class="btn-style btn-color2" routerLink="/user-information">Ça marche !</a>
            </div>
        </div>
    </div>
</body>
</html>