<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merci !</title>
</head>
<body>
    <div class="center">
        <p class="h2">Saviez-vous que... ?</p>
        <div class="square-bg">
            <div class="all-btn non-rotate">
                <img class="bee non-rotate" src="/assets/img/abeille.svg" alt="">
                <p class="non-rotate">{{ texte }}</p>
                <a class="btn btn-style1 non-rotate" routerLink="/user-information">Intéressant ça, merci !</a> 
            </div>
        </div>
    </div>
</body>
</html>