body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("/assets/img/blurCompletebg.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.square-bg {
    border-radius: 20px;
    border: 2px dashed var(--Noir, #0E103B);
    border-width: 3px;
    background: var(--Blanc, #F5F8E0);
    box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.25);
    transform: rotate(-3deg);
}

.bee {
    width: 125px;
    margin: 25px 0px;
}

.center {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h2{
    color: var(--Noir, #0E103B);
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 50px;
}

p {
    text-align: center;
    margin: 0 8px;
}

.para{
    margin-bottom: 40px;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    text-align: center; 
}

.text-square {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px 35px;    
    font-size: 16px;
    font-weight: 100;
}

.btn_all{
    display: flex;
    justify-content: center;
    max-width: 100%;
    transform: rotate(3deg);
    margin: 0px 10px 40px 10px;
}

.btn-color2{
    color: #0E103B !important;
    background-color: #B7C90D !important;
}

.btn-color2:hover {
    cursor: pointer;
    background-color: darkolivegreen !important;
}

.btn-style{
    background-color: #0E103B;
    color: #F5F8E0;
    width: 175px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-radius: 50px;
}
    .btn-style:hover {
        cursor: pointer;
        background-color: #03030c;
    }

.non-rotate{
    transform: rotate(1.5deg);
}

@media only screen and (min-width : 801px) {
    .square-bg{
        max-width: 50%;
        position: relative;
        top: 20%;
        height: 2500px;
    }
    .para{
        font-size: 20px;
        font-style: normal;
        font-weight: 700; 
    }
}

/* Réajuster pour les versions paysages */
@media only screen and (max-width: 800px) {
    p {
        font-size: 15px;
    }
    .square-bg{
        width: 1200px;
    }
    .para{
        width: 450px;
    }
}

/* Si l'écran passe de bureau à mobile, changer l'image */
@media only screen and (max-width: 500px) {
    body {
        background-image: url("/assets/img/thanksBackgroundMobile.png");
        overflow: hidden;
    }
    p {
        font-size: 12px;
    }
    .para{
        width: 350px;
    }
    
}