<div id="main-participants">
    <div class="sort-area">
            <span>trier par : </span>
            <span class="buttons-sort">
                <button (click)="sortArray('participantLastName')">nom</button>
                <button (click)="sortArray('participationDate')">récent</button>
                <button (click)="sortArray('status')">état</button>
                <button (click)="sortArray('productType')">produit</button>
            </span>
    </div>
    <div class="list">
        <table>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Coordonnées</th>
                <th>Produit</th>
                <th class="state-head">Etat</th>
            </tr>
            @for (p of participantsList; track p.id){
                <tr class="show-hover" (click)="setId(p.id); displayPopup()">
                    <td>{{p.id}}</td>
                    <td>{{p.participantLastName}}</td>
                    <td>{{p.participantFirstName}}</td>
                    <td>{{p.participantAddress.street}} {{p.participantAddress.postCode}} {{p.participantAddress.city}}</td>
                    @if (p.productType != "herbicide" && p.productType != "fongicide" && p.productType != "insecticide"){
                        <td>autre</td>
                    }
                    @else {
                        <td>{{p.productType}}</td>
                    }
                    @if (p.status === "DENIED" ) {
                        <td class="rejected">refusé</td>
                    }
                    @else if (p.status === "SHIPPED") {
                        <td class="sent">envoyé</td>
                    }
                    @else if (p.status === "PENDING") {
                        <td class="onHold">en attente</td>
                    }
                    @else if (p.status === "VALIDATED") {
                        <td class="validated">validé</td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
@if (getstate()) {
    <app-popup-validation></app-popup-validation>
}