

.sort-area {
    @apply flex pb-4;
}

.list {
    @apply w-full mx-5 text-center pr-5;
}
button{
    color: white;
    width: 100px;
    justify-content: center;
    border-radius: 50px;
    font-style: normal;
    font-weight: 700; 
    @apply bg-blue-950;
}
.buttons-sort {
    @apply flex px-4;
}
th, td {
    @apply text-left;
}