#main-participants {
    width : 95%
}

.sort-area {
    @apply flex pb-4;
}

.list {
    @apply mx-5 text-center pr-5;
}
button{
    color: #0E103B;
    width: 110px;
    justify-content: center;
    border-radius: 50px;
    font-style: normal;
    font-weight: 600; 
    border-color : #0E103B;
    @apply p-1 border;
}

.button-selected{
    background-color: #0E103B;
    color: white;
}

.buttons-sort {
    @apply flex px-4 ;
}
.buttons-sort button {
    margin-right: 10px;
}
table {
    width : 100%;
    border-spacing: 20px;
    border-collapse: separate;
}
th {
    @apply pb-6;
}
th, td {
    @apply text-left;
}

td {
    
}
.state-head {
    width : 100px
}
.no-over {
    width : 10vw;
    max-width: 10vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.address {
    width : 25vw;
    max-width: 25vw;
}

.sent {
    background-color: #4D9C18;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    @apply py-1; 
}

.onHold {
    background-color: #E7F39A;
    border-radius: 50px;
    text-align: center;
    @apply py-1;
}

.rejected {
    background-color: #E3254E;
    border-radius: 50px;
    text-align: center;
    color : white;
    @apply py-1;
}
.validated {
    background-color: #B7C90D;
    border-radius: 50px;
    text-align: center;
    @apply py-1;
}
.show-hover :hover {
    cursor: pointer;
}