<div class="center">
    <header></header>
    <div class="titleContainer">
        <div class="title">Waw quel cliché 😱</div>
    </div>

    <div class="imgWhiteSquare">
        <div class="imgUserContainer">
            <img class="userImg" [src]="imgUrl" alt="">
        </div>
    </div>
    
    <div class="all-btn">
        <button routerLink="/photo-capture-choice">
            <img src="/assets/img/captureValidation/btn-rouge.svg" alt="return back">
        </button>
        <button (click)="sendPhoto()" >
            <img src="/assets/img/captureValidation/btn-vert.svg" alt="send picture">
        </button>
    </div>
</div>


<p>{{errorMessage | json}}</p>