<button routerLink="/">Accueil</button>

<h1>Partagez votre photo</h1>
<p>Rendez-vous dans le recyparc le plus proche de chez vous. Envoyez-nous une photo de votre pesticide jeté et recevez un kit de semences locales et biologique Cycle-en-Terre pour votre jardin  </p>

<label for="appareil">Appareil photo
<input  id="appareil"type="button" routerLink="/photo-capture">
</label>

<label for="photo">Choisir une photo existante
<input id="photo" style="visibility: hidden;" accept="image/*" type="file">
</label>