<div class="center">
    <header></header>

    <div class="titlePlusReturn">
        <a routerLink="/">&#60; Retour à la page d'accueil</a>
        <h2>Partagez <br> votre photo !</h2>
    </div>

    <div class="para1">Rendez-vous dans le recyparc le plus proche de chez vous. <br> Envoyez-nous une photo de votre pesticide jeté et recevez un kit de semences locales et biologique Cycle-en-Terre pour votre jardin !</div>

    <div class="white-square">
        <div class="square-bg">
            <div class="borderImg">
                <label for="takePicture">
                    <img style="cursor: pointer; width: 100%;" src="/assets/img/captureChoice/cameraYellow.png" alt="img-camera">
                </label>
                <input (change)="setupFileService($event)" type="file" id="takePicture" accept="image/*" capture="user" style="visibility: hidden;">
            </div>
           
            <div>
                <label class="containerCloudBtn" for="choosePicture">
                    <img class="cloud" src="/assets/img/captureChoice/cloud.svg" alt="img-nuage">
                    <p class="btn">Choisir une photo existante</p>
                </label>
                <input (change)="setupFileService($event)" type="file" id="choosePicture" accept="image/*" style="visibility: hidden;">
            </div>
        </div>
    </div>
</div>