<div class="center">
    <header></header>
    <p class="h2">Concernant <br> votre photo</p>
    <div class="parent-p1">
        <p class="p1">Quel type de pesticide venez-vous de prendre en photo ?</p>
    </div>    
    <div class="square-bg">
        <div class="text-square">
            <p class="p1-desktop">Quel type de pesticide venez-vous de prendre en photo ?</p>
            <button class="btnHerbi" (click)="chooseProduct('Herbicide')">Herbicide</button>
            <button (click)="chooseProduct('Fongicide')">Fongicide</button>
            <button (click)="chooseProduct('Insecticide')">Insecticide</button>
            <input type="text" (focus)="chooseProduct('D')" [(ngModel)]="inputValue" (input)="onInputChange()" placeholder="Autre">
        </div>
        <div class="btn_all">
            <a class="btn-style btn-leftm" routerLink="/photo-validation">Retour</a>
            <a class="btn-style btn-color2" routerLink="/good-practice">Continuer</a>
        </div>
    </div>
</div>