
  <div class="body">
    <!-- <header></header> -->

    <div class="swipe">
      <div class="swipe-txt">Faire&nbsp;défiler</div>
    </div>

    <section class="section section--home">
      <div class="titles">
        <div class="title-1">
          <h1 class="title title--h1">Plantez</h1>
        </div>
        <div class="title-2">
          <h1 class="title title--h1">Protégez</h1>
        </div>
        <div class="title-3">
          <h1 class="title title--h1">Triez</h1>
        </div>
      </div>
      <svg
        class="ciel-1"
        width="537"
        height="224"
        viewBox="0 0 537 224"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M314.662 118.488C314.662 157.426 283.097 188.976 244.174 188.976C205.236 188.976 173.686 157.411 173.686 118.488C173.686 79.5648 205.25 48 244.174 48C283.111 48 314.662 79.5504 314.662 118.488Z"
          fill="#FBF8D0"
        />
        <path
          d="M5.92059 95.0255C-2.89221 90.2735 1.29819 80.8846 7.33179 76.8238C11.6518 73.915 18.2182 74.7214 21.6886 73.4254C26.023 71.827 27.0598 68.9182 31.1926 67.003C38.3206 63.691 45.2614 69.2494 52.5334 66.5854C63.247 62.6686 60.295 58.5934 70.807 64.1662C73.9174 65.8222 73.9894 67.4494 77.8486 68.7886C81.4342 70.027 86.143 69.235 89.7286 70.5022C96.1798 72.7774 104.705 78.1918 103.121 86.299C101.263 95.803 90.391 91.7854 83.911 95.2702C81.3478 96.6526 82.5286 100.325 78.8566 102.096C75.703 103.622 69.727 103.248 66.199 102.873C61.3606 102.369 55.3414 101.52 54.3478 96.1486C49.2646 98.0782 38.7094 101.865 35.1238 96.379C30.8038 102.888 3.78939 101.793 3.02619 94.075"
          fill="white"
          opacity="0.8"
        />
        <path
          d="M85.0971 183.907C82.5627 153.091 133.38 151.536 153.699 150.499C159.127 112.166 191.844 146.136 212.465 143.011C225.958 140.966 245.902 129.821 259.366 136.934C263.729 139.238 267.675 147.23 271.894 148.454C276.588 149.808 283.342 145.891 287.647 145.099C296.935 149.232 298.649 153.71 308.599 154.992C316.404 156 327.348 153.091 333.871 160.666C343.462 171.797 346.947 201.432 333.583 211.123C315.137 224.515 286.15 216.509 267.3 211.699C252.31 207.869 236.859 210.648 220.63 201.202C208.26 222.125 161.345 237.36 154.836 204.902C143.979 212.419 117.468 212.203 107.071 203.664C101.571 199.142 82.5195 190.272 85.2699 185.002"
          fill="white"
        />
        <path
          d="M371.465 46.9871C340.923 27.9359 371.926 15.9695 393.555 11.0735C401.446 9.28795 408.07 5.73114 416.019 3.75834C427.438 0.907145 431.845 7.54554 441.91 8.66874C452.249 9.82074 463.093 -1.19526 472.899 0.273542C483.094 1.79994 477.968 10.0079 485.081 15.1919C492.065 20.2895 503.067 14.6015 511.376 16.3295C520.721 18.2735 531.104 23.5871 536.907 31.1615C534.214 40.6943 519.325 41.0399 511.131 42.0479C501.253 43.2575 499.265 43.7615 492.281 48.2255C484.635 53.1215 483.641 55.4976 471.286 52.8912C462.862 51.12 454.15 47.8079 449.067 41.3135C431.816 50.8031 421.217 49.4063 402.382 49.4639C395.456 49.4927 374.057 49.5647 372.675 46.9871"
          fill="white"
          opacity="0.8"
        />
      </svg>
      <a class="play-button" routerLink="/photo-capture-choice">
        <img src="/assets/img/img-home/main-play.svg" alt="" />
      </a>
      <img class="ciel-2" src="/assets/img/img-home/ciel-2.svg" alt="nuages" />
      <img class="front" src="/assets/img/img-home/front.svg" alt="" />
      <img class="middle" src="/assets/img/img-home/collines.svg" alt="" />
      <img class="bee" src="/assets/img/img-home/bee.svg" alt="abeille" />
      <img class="bee-2" src="/assets/img/img-home/bee-2.svg" alt="abeille" />
    </section>
    <section class="section section--big">
      <p class="title title-big ">Trions les déchets de pesticides !</p>
    </section>
    <section class="section section--intro">
      <p class="bold txt">
        Pour la 6ème fois, l’asbl CORDER s’est associée à l’asbl Adalia 2.0, la
        COPIDEC et la Wallonie pour proposer une large campagne de
        sensibilisation au tri des déchets de pesticides chez les particuliers
        en Wallonie.
      </p>

      <div class="resume__pourcentage">
        <p class="counter huge">0%</p>
        <p class="bold">des ménages wallons</p>
      </div>

      <div class="resume__txt">
        <p class="txt">
          40% des ménages utilisant des pesticides au jardin ne recyclent pas
          correctement les emballages et les restes de pesticides. Alors que
          ceux-ci devraient être déposés au recyparc, ils sont jetés aux PMC,
          aux ordures ménagères, incinérés ou vidés à l’égout.
        </p>

        <p class="txt">
          Pour limiter les risques pour la santé et l’environnement, il est
          primordial que tous les déchets de pesticides soient traités par une
          filière spécialisée, comme pour les autres déchets spéciaux des
          ménages (DSM).
        </p>
      </div>
    </section>

    <section class="section section--pesticides">
      <h2 class="title title--h2">
        Les<span class="contour-titre">pesticides</span>et le tri des déchets
      </h2>
      <p class="pest-1">
        Parfois utilisés lors de l’entretien de vos espaces privés, de votre
        jardin ou de votre terrasse, ces produits sont spécifiques pour lutter
        contre des nuisibles (plantes indésirées, maladies des plantes, insectes
        ou petits animaux nuisibles, etc.). Mal utilisés, ils peuvent
        représenter un risque pour votre santé et l’environnement.
      </p>

      <img class="bee" src="/assets/img/img-home/abeille-txt.svg" alt="" />

      <p class="pest-2">
        C’est pourquoi il est essentiel de respecter les conditions
        d’utilisation de ces produits et de trier les déchets qui en découlent.
        Pour ce faire, il est nécessaire de déposer vos emballages et bidons
        vides de pesticides ou ceux que vous n’utilisez plus au recyparc le plus
        proche de chez vous. Afin de limiter les risques de fuites lors du
        transport, il est recommandé de placer les pesticides dans un récipient
        étanche, arrimé à l’intérieur du coffre de la voiture à l’aide de
        sangles par exemple.
      </p>
    </section>

    <section class="section section--campagne">
      <h2 class="title title--h2">
        Trois, deux, un...<span class="contour-titre">Triez !</span>
      </h2>

      <p class="bold bold-1">
        Si vous vous rendez au recyparc pour y déposer vos déchets de pesticide
        du 21 mars au 20 juin 2024, prenez-y une photo, participez au jeu et
        recevez un kit de semences locales et biologiques
        <a href="https://cycle-en-terre.be/">Cycle-en-Terre</a> pour votre
        jardin*
      </p>

      <img class="cadeau cadeau-1" src="/assets/img/img-home/kdo-1.svg" alt="" />
      <img class="cadeau cadeau-2" src="/assets/img/img-home/kdo-2.svg" alt="" />
      <img class="cadeau cadeau-3" src="/assets/img/img-home/kdo-3.svg" alt="" />

      <p class="title title--h1 lotterie">
        Un kit de semences locales et biologiques Cycle-en-Terre en cadeau*
      </p>

      <p class="enorme">
        Et tentez de gagner un bon d’achats de 200€ à dépenser dans une
        jardinerie labellisée
        <a href="https://www.adalia.be/jardineries-labellisees"
          >Jardiner Sans Pesticides.</a
        >
      </p>

      <div class="secondPlayBtn" routerLink="/photo-capture-choice">
        <img src="/assets/img/img-home/play.svg" alt="" />
      </div>
    </section>

    <section class="section section--recyparc">
      <div class="recyparc-bg"></div>

      <div class="recyparc__content">
        <h2 class="title title--h2">On se retrouve au recyparc ?</h2>

        <div class="placerMap">
        <iframe class="maps" src="https://www.google.com/maps/d/embed?mid=1IsvJ8JiPElD0agYBfrX9kZ1mTm_6JSpn&ehbc=2E312F" width="100%" height="480"></iframe>
        </div>
      </div>

      <div class="recyparc-bottom"></div>
    </section>

    <footer>
      <div class="infos">
        <h3 class="title title--h3">asbl Corder</h3>
        <p>Croix du Sud 2, L7.05.03</p>
        <p>1348 Louvain-la-Neuve</p>
        <p>Belgique</p>
        <p>+32 (0)10 47 37 54</p>

        <small class="conditions">*dans la limite des stocks disponibles</small>
      </div>
      <div class="partenaires">
        <img
          class="brand brand--corder"
          src="/assets/img/img-home/corder.svg"
          alt="logo corder"
        />

        <img
          class="brand brand--adalia"
          src="/assets/img/img-home/adalia.png"
          alt="logo adalia"
        />

        <img
          class="brand brand--copidec"
          src="/assets/img/img-home/copidec.png"
          alt="logo copidec"
        />

        <img
          class="brand brand--wallonie"
          src="/assets/img/img-home/wallonie.png"
          alt="logo wallonie"
        />

        <img
          class="brand brand--cet"
          src="/assets/img/img-home/cet.svg"
          alt="logo cycle-en-terre"
        />

        <img
          class="brand brand--jsp"
          src="/assets/img/img-home/jsp.png"
          alt="logo jardin sans pesticides"
        />
      </div>
    </footer>
  </div>
