.giga-container{
    // clip-path: circle(94% at 48% 15%);
    border: 5px solid red;
    border-radius: 0 0 50% 50%;
}

.img-container{
    position: relative;
  
    .bee {
        top: 20%;
        left: 20%;
        position: absolute;
        width: calc(1/15 * 100vw);
        z-index: 1000;
    }
}

.img-bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    object-position: bottom center;
    z-index: 0;
}

.cont {
    height: 90vh;
    width: 100%;
}

.center{
display: flex;
justify-content: center;
align-items: center;
}

.btnAjouter{
    position: absolute;
    bottom: 100px;
    right: 150px;
}

.txt{
    font-size: 38px;
    background-color: #4d9c18;
    text-align: center;
    padding-bottom: 2%;
}

.txt-scroll-container{
    width: 100%;
    height: 10vh;
    background-color: #4d9c18;
}

.txt-scroll{
    font-family: "nexa";
    font-size: xx-large;
    opacity: 50%;
    text-align: center;
}

.test{
    font-family: 'nexa';
}

// Si l'écran passe de mobile à bureau, changer l'image
@media only screen and (max-width: 600px) {
.img-container{
    background-image: url("/assets/img/home/bg_mobile.png");
}

}


@font-face {
	font-family: 'nexa';
    src: url("/assets/fonts/NexaSlab-Trial-Heavy.ttf");
}


