<!-- <div class="mega-container"> -->
<div class="giga-container">
    <div class="cont img-container">
        <img class="img-bg" src="/assets/img/home/img-bg.svg" alt="">
        <img class="bee" src="/assets/img/home/abeille.svg" />
        <a class="center btnAjouter" routerLink="/photo-capture-choice">test</a>
        
    </div>
    
    <div class="txt-scroll-container">
        <p class="txt-scroll">Faites défiler</p>
    </div>
    
    <div>
        <p class="txt">
            Campagne de collecte des pésticides et de leur emballages 2023
        </p>
    </div>
    
</div>
    
    <p class="test">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita officia voluptatem, perspiciatis a maiores earum ut ipsam corporis numquam reprehenderit recusandae. Labore dolore ducimus quod nam dolorem maiores et eum!
    </p>
    <footer></footer>
<!-- </div> -->
