<div id="main">
    <div class="frame graphs">
        <div class="in-frame">
            <div class="top-title">
                <div class="title-frame">
                    Nombre de participants
                </div>
            </div>
            <div class="top-graph">
                <div class="top-buttons">
                    <button class="btn-graph">Par semaine</button>
                    <button class="btn-graph">Par mois</button>
                </div>
                <div class="top-graph-total">
                    Participations cette semaine : 19
                </div>
            </div>  
            <div class="graph-vertical-week">
                <div class="graph-vertical-bars">
                    <div class="bg-graph-vertical">
                        <div class="monday"></div>
                    </div>
                    <p>Lun 10/06</p>
                </div>
                <div class="graph-vertical-bars">
                    <div class="bg-graph-vertical">
                        <div class="tuesday"></div>
                    </div>
                    <p>Mar 10/06</p>
                </div>
                <div class="graph-vertical-bars">
                    <div class="bg-graph-vertical">
                        <div class="wednesday"></div>
                    </div>
                    <p>Mer 10/06</p>
                </div>
                <div class="graph-vertical-bars">
                    <div class="bg-graph-vertical">
                        <div class="thursday"></div>
                    </div>
                    <p>Jeu 10/06</p>
                </div>
                <div class="graph-vertical-bars">
                    <div class="bg-graph-vertical">
                        <div class="friday"></div>
                    </div>
                    <p>Ven 10/06</p>
                </div>
                <div class="graph-vertical-bars">
                    <div class="bg-graph-vertical">
                        <div class="saturday"></div>
                    </div>
                    <p>Sam 10/06</p>
                </div>
                <div class="graph-vertical-bars">
                    <div class="bg-graph-vertical">
                        <div class="sunday"></div>
                    </div> 
                    <p>Dim 10/06</p>
                </div>   
            </div>
            <div class="below-graph">
                <div class="previous-week">
                    <span class="link-style">Semaine précédente</span>
                </div>
                <div class="next-week">
                    <span class="link-style">Semaine suivante</span>
                </div>
            </div>
        </div>
    </div>
    <!-- side total -->
    <div class="frame side-area">
        <div>
            <div class="title-frame">
                Au total
            </div>
            <div>
                <div>
                    123
                </div>
                <div>
                    participants
                </div>
            </div>
        </div>
    </div>
    <!-- Localisation des participants -->
    <div class="frame graphs">
        <div class="in-frame">
            <div class="title-frame">
                Localisation des participants
            </div>                
        </div>
    </div>
    <div class="frame side-area">
    </div>
</div>