#main {
    flex-wrap: wrap;
    color : #0E103B;
    @apply flex;
}

.frame {
    background-color: #F5F8E0;
    border-radius : 20px; 
    padding-bottom: 10px;
    height : 57.74vh;
    @apply m-2;
}
.graph-count {
    width : 56.48vw;
    
}

.title-frame {
    font-family : nexaRegular;
    color: #0E103B;
    font-weight:900;
    font-size: 3.7vh;
}
.top-title {
    
}
.top-graph {
    height : 14vh;
    @apply grid grid-cols-2 items-center;
}
.top-buttons {
    @apply col-span-1 space-x-5;
}
.btn-graph {
    background-color: #B7C90D;
    width : 30%;
    justify-content: center;
    border-radius: 50px;
    font-style: normal;
    font-weight: 600; 
    @apply p-1 border;
}
button:hover{
    background-color: #E7F39A;
}

button:focus{
    background-color: #94A31F;
}
#weeks-months-graph {
    height : 57.75vh;
    @apply p-5;
}

.top-graph-total {
    @apply col-span-1 text-right;
}
.graph-vertical-week {
    column-gap: 4%;
    width : 87%;
    @apply grid grid-cols-7;
}
.graph-vertical-bars {
    height : 100%;
}
.bg-graph-vertical {
    height : 22.29vh;
    border-radius: 5px;
    background-color: #E7F39A;
    display: flex;
    flex-direction: column-reverse;
}
.monday {
    border-radius: 4px;
    height : 45%;
    background-color: #12A19A;
}
.tuesday {
    border-radius: 4px;
    height : 50%;
    background-color: #12A19A;
}
.wednesday {
    border-radius: 4px;
    height : 55%;
    background-color: #12A19A;
}
.thursday {
    border-radius: 4px;
    height : 62%;
    background-color: #12A19A;
}
.friday {
    border-radius: 4px;
    height : 70%;
    background-color: #12A19A;
}
.saturday {
    border-radius: 4px;
    height : 75%;
    background-color: #12A19A;
}.sunday {
    border-radius: 4px;
    height : 80%;
    background-color: #12A19A;
}
.graph-vertical-bars p {
    text-align: center;
}
.below-graph {
    @apply grid grid-cols-2 items-end;
}
.previous-week {
    @apply col-span-1;
}
.next-week {
    @apply col-span-1 text-right;
}
.link-style {
    @apply underline;
}
.fifth-month {
    border-radius: 4px;
    height : 50%;
    background-color: #12A19A;
}
.fourth-month {
    border-radius: 4px;
    height : 50%;
    background-color: #12A19A;
}
.third-month {
    border-radius: 4px;
    height : 50%;
    background-color: #12A19A;
}
.second-month {
    border-radius: 4px;
    height : 50%;
    background-color: #12A19A;
}
.first-month {
    border-radius: 4px;
    height : 50%;
    background-color: #12A19A;
}

.side-area {
    max-width: 23vw;
    @apply m-2 p-5 flex-grow;
}
.total-count {
    background-color: #E7F39A;
    border-radius: 20px;
    text-align: center;
    margin-top: 3.58vh;
    @apply p-5;
}
.time-left {
    background-color: #12A19A;
}
.side-area p {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}