<div id="main">
    <div class="frame graph-period">
        <div class="in-frame">
            <!-- Grapique des semaines -->
            <div class="both-graphs" id="weeks-months-graph">
                <div class="top-title">
                    <div class="title-frame">
                        Nombre de participants
                    </div>
                </div>
                <div class="top-graph">
                    <div class="top-buttons">
                        <button (click)="changeGraphic('weeks')" class="btn-graph">Par semaine</button>
                        <button (click)="changeGraphic('months')" class="btn-graph">Par mois</button>
                    </div>
                    <div class="top-graph-total">
                        @if (!showMonths) {
                            Participations cette semaine : {{weekParticipants}}
                        }
                        @else {
                            Participations ce mois :
                            {{allStats.countParticipantsEachLast5Months[0]}}
                        }
                    </div>
                </div>
                <div [ngStyle]="{ display: !showMonths ? 'block' : 'none' }" id="weeks-graph">
                    <div class="graph-vertical-week">
                        <div class="graph-vertical-bars">
                            <div class="bg-graph-vertical">
                                <div class="monday place-ball">
                                    <div class="ball">
                                        {{this.countLast7Days.days[6]}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="graph-vertical-bars">
                            <div class="bg-graph-vertical">
                                <div class="tuesday place-ball">
                                    <div class="ball">
                                        {{this.countLast7Days.days[5]}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="graph-vertical-bars">
                            <div class="bg-graph-vertical">
                                <div class="wednesday place-ball">
                                    <div class="ball">
                                        {{this.countLast7Days.days[4]}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="graph-vertical-bars">
                            <div class="bg-graph-vertical">
                                <div class="thursday place-ball">
                                    <div class="ball">
                                        {{this.countLast7Days.days[3]}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="graph-vertical-bars">
                            <div class="bg-graph-vertical">
                                <div class="friday place-ball">
                                    <div class="ball">
                                        {{this.countLast7Days.days[2]}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="graph-vertical-bars">
                            <div class="bg-graph-vertical">
                                <div class="saturday place-ball">
                                    <div class="ball">
                                        {{this.countLast7Days.days[1]}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="graph-vertical-bars">
                            <div class="bg-graph-vertical">
                                <div class="sunday place-ball">
                                    <div class="ball">
                                        {{this.countLast7Days.days[0]}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="below-graph">
                        <div class="previous-week">
                            <span (click)="showPrevious()" class="link-style">Semaine précédente</span>
                        </div>
                        <div class="week-info">
                            Entre le {{sevenDaysAgo | date: 'dd/MM/yyyy' }} et le {{ currentDate | date: 'dd/MM/yyyy' }}
                        </div>
                        <div class="next-week">
                            <span (click)="showNext()" class="link-style">Semaine suivante</span>
                        </div>
                    </div>
                </div>
            <!-- Graphique des mois -->
                <div [ngStyle]="{ display: showMonths ? 'block' : 'none' }" id="months-graph">
                    <div class="graph-vertical-week">
                        <div class="graph-vertical-bars">
                            <div class="bg-graph-vertical">
                                <div class="fifth-month place-ball">
                                    <div class="ball">
                                        {{this.allStats.countParticipantsEachLast5Months[4]}}
                                    </div>
                                </div>
                            </div>
                            <p>{{translateMonth(getMonthFromDateAndSubtract(currentDateFull, 4))}}</p>
                        </div>
                        <div class="graph-vertical-bars">
                            <div class="bg-graph-vertical">
                                <div class="fourth-month place-ball">
                                    <div class="ball">
                                        {{this.allStats.countParticipantsEachLast5Months[3]}}
                                    </div>
                                </div>
                            </div>
                            <p>{{translateMonth(getMonthFromDateAndSubtract(currentDateFull, 3))}}</p>
                        </div>
                        <div class="graph-vertical-bars">
                            <div class="bg-graph-vertical">
                                <div class="third-month place-ball">
                                    <div class="ball">
                                        {{this.allStats.countParticipantsEachLast5Months[2]}}
                                    </div>
                                </div>
                            </div>
                            <p>{{translateMonth(getMonthFromDateAndSubtract(currentDateFull, 2))}}</p>
                        </div>
                        <div class="graph-vertical-bars">
                            <div class="bg-graph-vertical">
                                <div class="second-month place-ball">
                                    <div class="ball">
                                        {{this.allStats.countParticipantsEachLast5Months[1]}}
                                    </div>
                                </div>
                            </div>
                            <p>{{translateMonth(getMonthFromDateAndSubtract(currentDateFull, 1))}}</p>
                        </div>
                        <div class="graph-vertical-bars">
                            <div class="bg-graph-vertical">
                                <div class="first-month place-ball">
                                    <div class="ball">
                                        {{this.allStats.countParticipantsEachLast5Months[0]}}
                                    </div>
                                </div>
                            </div>
                            <p>{{translateMonth(getMonthFromDateAndSubtract(currentDateFull, 0))}}</p>
                        </div>
                    </div>
                    <div class="below-graph">
                        <div class="previous-week">
                        </div>
                        <div class="next-week">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- side total -->
    <div class="frame side-area">
        <div class="title-frame">
            Au total
        </div>
        <div class="total-count">
            <div class="title-frame">
                {{allStats.countParticipants}}
            </div>
            <div>
                participants
            </div>
        </div>
        <div class="total-count time-left">
            <div class="title-frame">
                {{timeLeft}}
            </div>
            <div>
                jours restants
            </div>
        </div>
        <p>
            Durée de la campagne : du 21 mars au 20 juin
        </p>
    </div>
    <!-- Localisation des participants -->
    <div class="frame graph-region">
        <div class="in-frame">
            <div class="both-graphs" id="weeks-months-graph">
                <div class="top-title">
                    <div class="title-frame">
                        Localisation des participants
                    </div>
                </div>
                <div class="graph-vertical-region">
                    <div class="graph-vertical-bars-region">
                        <div class="bg-graph-vertical-region">
                            <div class="brabant place-ball">
                                <div class="ball">
                                    {{allStats.countByProvince["Brabant Wallon"]}}
                                </div>
                            </div>
                        </div>
                        <p>Brabant Wallon</p>
                    </div>
                    <div class="graph-vertical-bars-region">
                        <div class="bg-graph-vertical-region">
                            <div class="hainaut place-ball">
                                <div class="ball">
                                    {{allStats.countByProvince["Hainaut"]}}
                                </div>
                            </div>
                        </div>
                        <p>Hainaut</p>
                    </div>
                    <div class="graph-vertical-bars-region">
                        <div class="bg-graph-vertical-region">
                            <div class="liege place-ball">
                                <div class="ball">
                                    {{allStats.countByProvince["Liège"]}}
                                </div>
                            </div>
                        </div>
                        <p>Liège</p>
                    </div>
                    <div class="graph-vertical-bars-region">
                        <div class="bg-graph-vertical-region">
                            <div class="luxembourg place-ball">
                                <div class="ball">
                                    {{allStats.countByProvince["Luxembourg"]}}
                                </div>
                            </div>
                        </div>
                        <p>Luxembourg</p>
                    </div>
                    <div class="graph-vertical-bars-region">
                        <div class="bg-graph-vertical-region">
                            <div class="namur place-ball">
                                <div class="ball">
                                    {{allStats.countByProvince["Namur"]}}
                                </div>
                            </div>
                        </div>
                        <p>Namur</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Graphique des produits triés -->
    <div class="frame products-used">
        <div class="both-graphs">
            <div class="top-title">
                <div class="title-frame">
                    Produits triés
                </div>
            </div>
            <div class="graph-horizontal-products">
                <div class="graph-horizontal-bars-products">
                    <p>Fongicides</p>
                    <div class="bg-graph-horizontal-products">
                        <div class="fongicide place-ball-horizontal">
                            <div class="ball">
                                {{allStats.productsUsed.fongicide}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="graph-horizontal-bars-products">
                    <p>Herbicides</p>
                    <div class="bg-graph-horizontal-products">
                        <div class="herbicide place-ball-horizontal">
                            <div class="ball">
                                {{allStats.productsUsed.herbicide}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="graph-horizontal-bars-products">
                    <p>Insecticides</p>
                    <div class="bg-graph-horizontal-products">
                        <div class="insecticide place-ball-horizontal">
                            <div class="ball">
                                {{allStats.productsUsed.insecticide}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="graph-horizontal-bars-products">
                    <p>Autres</p>
                    <div class="bg-graph-horizontal-products">
                        <div class="autre place-ball-horizontal">
                            <div class="ball">
                                {{allStats.productsUsed.autre}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Produits "autres" -->
    <div class="frame products-other">
        <div class="both-graphs">
            <div class="top-title">
                <div class="title-frame">
                    Produits autres
                </div>
            </div>
            <div class="subhead">
                Nombre de produits  autres  : {{allStats.otherProductsUsed.length}}
            </div>
            <div class="list-comment">
                @for (comment of allStats.otherProductsUsed; track $index) {
                <div class="row-comment">
                    <div class="index">
                        {{$index + 1}}
                    </div>
                    <div class="comment-area" id="commentArea{{$index}}">
                         {{comment}}
                    </div>
                    <div class="btn-comment-area">
                        <button class="btn-comment" (click)="removeNoWrap($index)" id="btn-comment-hide{{$index}}">Voir</button>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    <!-- Notes -->
    <div class="frame notes-frame">
        <div class="both-graphs">
            <div class="top-title">
                <div class="title-frame">
                    Notes
                </div>
            </div>
            <div class="graph-horizontal-notes">
                <div class="graph-horizontal-bars-notes">
                    <div class="bg-graph-horizontal-notes">
                        <div class="bar-emote">
                            <img id="happy-emote" src="/assets/img/Emotes/smile.svg" alt="happy" />
                            <span>{{allStats.countNotes[0]}}</span>
                        </div>
                    </div>
                </div>
                <div class="graph-horizontal-bars-notes">
                    <div class="bg-graph-horizontal-notes">
                        <div class="bar-emote">
                            <img src="/assets/img/Emotes/bof.svg" alt="neutral" />
                            <span>{{allStats.countNotes[1]}}</span>
                        </div>
                    </div>
                </div>
                <div class="graph-horizontal-bars-notes">
                    <div class="bg-graph-horizontal-notes">
                        <div class="bar-emote">
                            <img src="/assets/img/Emotes/sad.svg" alt="sad" />
                            <span>{{allStats.countNotes[2]}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Liste des problèmes -->
    <div class="frame notes-text-frame">
        <div class="top-title">
            <div class="title-frame">
                Problèmes
            </div>
        </div>
        <div class="notes-text">
            <div class="row-notes">
                <div class="note-category">
                    C'était trop long
                </div>
                <div class="note-count">
                    {{allStats.countSatisfactionComments["C'était trop long"]}}
                </div>
            </div>
            <div class="row-notes">
                <div class="note-category">
                    C'était trop court
                </div>
                <div class="note-count">
                    {{allStats.countSatisfactionComments["C'était trop court"]}}
                </div>
            </div>
            <div class="row-notes">
                <div class="note-category">
                    L'appareil ne fonctionnait pas
                </div>
                <div class="note-count">
                    {{allStats.countSatisfactionComments["L'appareil ne fonctionnait pas"]}}
                </div>
            </div>
            <div class="row-notes">
                <div class="note-category">
                    Informations pas claires
                </div>
                <div class="note-count">
                    {{allStats.countSatisfactionComments["Informations pas claires"]}}
                </div>
            </div>
            <div class="row-notes">
                <div class="note-category">
                    Autre
                </div>
                <div class="note-count">
                    {{allStats.allOthersSatisfactionComment.length}}
                </div>
            </div>
        </div>
    </div>
    <!-- satisfaction autre commentaires -->
    <div class="frame note-other">
        <div class="top-title">
            <div class="title-frame">
                Remarques
            </div>
        </div>
        <div class="subhead">
            Rubrique  autres
        </div>
        <div class="list-comment">
            @for (comment of allStats.allOthersSatisfactionComment; track $index) {
            <div class="row-comment">
                <div class="index">
                    {{$index + 1}}
                </div>
                <div class="comment-area" id="noteCommentArea{{$index}}">
                     {{allStats.allOthersSatisfactionComment[$index]}}
                </div>
                <div class="btn-comment-area">
                    <button class="btn-comment" (click)="removeNoWrapNote($index)" id="btn-note-comment-hide{{$index}}">Voir</button>
                </div>
            </div>
            }
        </div>
    </div>
</div>
