#main {
    flex-wrap: wrap;
    color : #0E103B;
    @apply flex;
}

.frame {
    background-color: #F5F8E0;
    border-radius : 20px; 
    padding-bottom: 10px;
    height : 57.74vh;
    @apply m-2 p-5;
    margin-bottom: 5vh;
}
.graph-period {
    width : 70%;
    
}

.title-frame {
    font-family : nexaRegular;
    color: #0E103B;
    font-weight:900;
    font-size: 5.5vh;
}
.top-title {
    
}
.top-graph {
    height : 14vh;
    @apply grid grid-cols-2 items-center;
}
.top-buttons {
    @apply col-span-1 space-x-5;
}
.btn-graph {
    background-color: #B7C90D;
    width : 30%;
    justify-content: center;
    border-radius: 50px;
    font-style: normal;
    font-weight: 600; 
    @apply p-1 border;
}
button:hover{
    background-color: #E7F39A;
}

button:focus{
    background-color: #94A31F;
}
#weeks-months-graph {
    height : 57.75vh;
}

.top-graph-total {
    @apply col-span-1 text-right;
}
.graph-vertical-week {
    column-gap: 4%;
    width : 87%;
    @apply grid grid-cols-7;
}
.graph-vertical-bars {
    height : 100%;
}
.bg-graph-vertical {
    height : 22.29vh;
    border-radius: 5px;
    background-color: #E7F39A;
    display: flex;
    flex-direction: column-reverse;
}
.monday {
    border-radius: 4px;
    height : 45%;
    background-color: #12A19A;
}
.tuesday {
    border-radius: 4px;
    height : 50%;
    background-color: #12A19A;
}
.wednesday {
    border-radius: 4px;
    height : 55%;
    background-color: #12A19A;
}
.thursday {
    border-radius: 4px;
    height : 62%;
    background-color: #12A19A;
}
.friday {
    border-radius: 4px;
    height : 70%;
    background-color: #12A19A;
}
.saturday {
    border-radius: 4px;
    height : 75%;
    background-color: #12A19A;
}.sunday {
    border-radius: 4px;
    height : 80%;
    background-color: #12A19A;
}
.graph-vertical-bars p {
    text-align: center;
}
.below-graph {
    margin-top: 2%;
    @apply grid grid-cols-3 items-end;
}
.below-graph span {
    cursor : pointer;
}
.previous-week {
    @apply col-span-1;
}
.week-info {
    text-align: center;
    @apply col-span-1;
}
.next-week {
    @apply col-span-1 text-right;
}
.link-style {
    @apply underline;
}
.fifth-month {
    border-radius: 4px;
    height : 50%;
    background-color: #12A19A;
}
.fourth-month {
    border-radius: 4px;
    height : 50%;
    background-color: #12A19A;
}
.third-month {
    border-radius: 4px;
    height : 50%;
    background-color: #12A19A;
}
.second-month {
    border-radius: 4px;
    height : 50%;
    background-color: #12A19A;
}
.first-month {
    border-radius: 4px;
    height : 50%;
    background-color: #12A19A;
}

.side-area {
    width: 27%;
    @apply m-2 p-5;
}
.total-count {
    background-color: #E7F39A;
    border-radius: 20px;
    text-align: center;
    @apply p-5;
}
.time-left {
    margin-top: 5%;
    background-color: #12A19A;
}
.side-area p {
    margin-top: 4%;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}
.graph-region {
    width : 70%;
    
}
.graph-vertical-region {
    column-gap: 10%;
    width : 87%;
    margin: auto;
    margin-top: 10vh;
    @apply grid grid-cols-5;
}
.graph-vertical-bars-region {
    height : 100%;
}
.bg-graph-vertical-region {
    height : 22.29vh;
    width : 100%;
    border-radius: 5px;
    text-align: center;
    background-color: #E7F39A;
    display: flex;
    flex-direction: column-reverse;
}
.graph-vertical-bars-region p {
    text-align: center;
}
.brabant {
    border-radius: 4px;
    height : 50%;
    background-color: #12A19A;
}
.hainaut {
    border-radius: 4px;
    height : 50%;
    background-color: #12A19A;
}
.liege {
    border-radius: 4px;
    height : 50%;
    background-color: #12A19A;
}
.luxembourg {
    border-radius: 4px;
    height : 50%;
    background-color: #12A19A;
}
.namur {
    border-radius: 4px;
    height : 50%;
    background-color: #12A19A;
}
.products-used {
    width : 48%;
}
.products-other {
    width : 48%;
}
.graph-horizontal-products {
    width : 100%;
    height  : 100%;
    margin: auto;
    margin-top: 5vh;
    @apply space-y-4;
}
.graph-horizontal-bars-products {
    height : 100%;
    width : 95%;
    @apply grid grid-cols-4;
}
.graph-horizontal-bars-products p {
    display: flex;
    align-items: center;
    font-weight: 700;
    @apply col-span-1
}
.bg-graph-horizontal-products {
    height : 7vh;
    width : 100%;
    border-radius: 5px;
    background-color: #E7F39A;
    @apply col-span-3;
}
.fongicide {
    height : 100%;
    width : 100%;
    border-radius: 4px;
    background-color: #12A19A;
}
.herbicide {
    height : 100%;
    width : 60%;
    border-radius: 4px;
    background-color: #12A19A;
}
.insecticide {
    height : 100%;
    width : 20%;
    border-radius: 4px;
    background-color: #12A19A;
}
.autre {
    height : 100%;
    width : 40%;
    border-radius: 4px;
    background-color: #12A19A;
}
.subhead {
    font-weight : 700;
}
.list-comment {
    width : 100%;
    overflow-y: auto;
    max-height: 40vh;
}
.row-comment {
    width : 100%;
    margin-top : 2vh;
    @apply flex justify-between;
}
.index {
    width : 10%;
}
.comment-area {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    width : 70%;
}
.btn-comment-area {
    width : 13%;
}
.btn-comment {
    background-color: #B7C90D;
    width : 100%;
    justify-content: center;
    border-radius: 50px;
    font-style: normal;
    font-weight: 600; 
    @apply p-1 border;
}
.notes-frame {
    width : 25%;
}
.graph-horizontal-notes {
    width : 100%;
    height  : 100%;
    margin: auto;
    margin-top: 5vh;
    @apply space-y-4;
}
.graph-horizontal-bars-notes {
    height : 100%;
    width : 100%;
    margin: auto;
}
.bg-graph-horizontal-notes {
    height : 7vh;
    width : 100%;
    border-radius: 15px;
    background-color: #12A19A;
    @apply col-span-3;
}
.bar-emote {
    height : 100%;
    width : 100%;
    border-radius: 15px;
    background-color: #12A19A;
    @apply flex justify-between;
}
.bar-emote img {
    height : 100%;
    align-items: center;
    @apply flex;
}
#happy-emote {
    width:64.3167px;
}
.bar-emote span {
    align-items: center;
    margin-right: 3vh;
    font-weight: 800;
    font-size: 2.5vh;
    @apply flex;
}
.notes-text-frame {
    width : 25%;
}
.notes-text {
    margin-top: 3vh;
    height : 42%;
    width : 95%;
    @apply flex flex-col justify-between;
}
.row-notes {
    font-weight: 700;
    @apply flex justify-between;
}
.note-other {
    width : 45%;
}