<div id="navbar-overall">
    <!-- NavbarLeft -->
    <div id="navbar-left">
        <div id="content-left">
            <div id="logo-area">
                <img src="/assets/img/logoCorder.svg" alt="logo corder"/>
            </div>
                <ul id="list">
                    <li><a routerLink="/admin/dashboard"><img src="assets/img/logos-navbar/house.svg" alt="house" /> Dashboard</a></li>
                    <li><a routerLink="/admin/validated-photos"><img src="assets/img/logos-navbar/valide.svg" alt="valide" />Photos validées</a></li>
                    <li><a routerLink="/admin/rejected-photos"><img src="assets/img/logos-navbar/rejected.svg" alt="non valide" />Photos refusées</a></li>
                    <li><a routerLink="/admin/on-hold-photos"><img src="assets/img/logos-navbar/hourglass.svg" alt="sablier" />Photos en attente</a></li>
                    <li><a routerLink="/admin/participants"><img src="assets/img/logos-navbar/people.svg" alt="participants" />Participants</a></li>
                    <li><a routerLink="/admin/statistics"><img src="assets/img/logos-navbar/stats.svg" alt="stats" />Statistiques</a></li>
                </ul>
        </div>
    </div>
    <!-- NavbarTop-->
    <div id="navbar-top">
        <div id="search-bar">
            <input type="text" size="70" placeholder="Rechercher" />
            <img src="/assets/img/logos-navbar/magnifying-glass.svg" alt="loupe" />
        </div>
        <div id="name-photo">
            {{username}}
            <img src="/assets/img/logos-navbar/magnifying-glass.svg" alt="User avatar" />
        </div>
    </div>
    <!-- Component -->
    <div id="content">
        <router-outlet ></router-outlet>
    </div>
</div>