<div id="override-body">
    <div id="navbar-overall">
        <!-- NavbarLeft -->
        <div id="navbar-left">
            <div id="content-left">
                <div id="logo-area">
                    @if (displayUser() === "Cycle en Terre") {
                        <img src="/assets/img/logoCycle.svg" alt="logo cycle en terre"/>
                    }
                    @else {
                        <img src="/assets/img/logoCorder.svg" alt="logo corder"/>
                    }
                </div>
                <ul id="list">
                    <li><a routerLink="/admin/dashboard" routerLinkActive="active-link"><img src="assets/img/logos-navbar/house.svg" alt="house" /><span>Dashboard</span> </a></li>
                    <li><a routerLink="/admin/participants" routerLinkActive="active-link"><img src="assets/img/logos-navbar/people.svg" alt="participants" /><span>Participants</span></a></li>
                    <li><a routerLink="/admin/statistics" routerLinkActive="active-link"><img src="assets/img/logos-navbar/stats.svg" alt="stats" /><span>Statistiques</span></a></li>
                </ul>
            </div>
        </div>
        <!-- NavbarTop-->
        <div id="right-side">
            <div id="navbar-top">
                <div id="search-bar">
                </div>
                <div id="name-photo">
                    <img routerLink="/modify-account" id="modify-logo" src="/assets/img/logos-navbar/modify.svg" alt="User avatar" />
                    {{username}}
                    <img id="toggleMenuButton" src="/assets/img/logos-navbar/placeholder-avatar.svg" alt="User avatar" (click)="toggleMenu()" />
                    <div class="scrolling-menu" id="menu">
                        <a (click)="logout()">Se déconnecter</a>
                    </div>
                </div>
            </div>
            <!-- Component -->
            <div id="content">
                <router-outlet ></router-outlet>
            </div>
        </div>
    </div>
</div>