#override-body {
    background-color: white;
    min-height: 100vh;
    @apply p-5;
}

#navbar-overall {
    height: 100%;
    @apply flex pt-3;
}

#navbar-left {
    background-color: #F5F8E0;
    width : 15%;
    height : 90%;
    flex: 0 0 auto;
    border-radius : 20px; 
}
#navbar-top {
    @apply py-5 pt-8;
}
#right-side {
    width : 85%;
    height : 10%;
}

#content {
    @apply pl-5;
}

#content-left {
    @apply grid grid-rows-3;
}

#logo-area {
    align-items: center;
    @apply row-span-1 pt-5;
}
#logo-area img {
    width : 80%;
}
li img {
    width : 24px;
    height : 24px;
}

li a {
    @apply flex;
}

#list {
    @apply row-span-1 pl-8 space-y-4;
}

#list span {
    @apply pl-2;
}

#search-bar {
    @apply  pl-4;
}

#border-search {
    border-color: #BCBCBC;
    float : left;
    @apply flex border-0 border-b-2 items-center pb-2;
}

#name-photo {
    @apply flex justify-end items-center;
}
#search-bar img {
    width : 18px;
    height : 18px;
}   
#name-photo img {
    padding-left: 12px;
    width : 64px;
    height : 64px;
}