#override-body {
    background-color: white;
    min-height: 100vh;
    @apply p-5;
}

#navbar-overall {
    height: 100%;
    @apply flex pt-3;
}

#navbar-left {
    position: fixed;
    background-color: #F5F8E0;
    width : 12%;
    height : 90%;
    flex: 0 0 auto;
    border-radius : 20px; 
}
#navbar-top {
    @apply py-5 pt-8 pl-10;
}
#right-side {
    margin-left: 12%;
    width : 88%;
    height : 10%;
}

#content {
    @apply pl-5;
}

#content-left {
    height : 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo-area {
    height : 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#logo-area img {
    width : 70%;
    margin: 0 auto;
}
li img {
    width : 24px;
    height : 24px;
}

li a {
    height : 100%;
    width : 100%;
    align-items: center;
    @apply flex pl-2;
}
li{
    height : 20%;
    display: flex;
    align-items: center;
}
.active-link{
    background-color: #E7F39A;
    border-radius: 100px;
}
#list {
    padding: 0;
    margin: 0;
    width : 90%;
    margin-bottom: 50%;
    @apply pl-5 space-y-4;
}

#list span {
    @apply pl-2;
}

#search-bar {
    @apply  pl-4;
}

#border-search {
    border-color: #BCBCBC;
    float : left;
    @apply flex border-0 border-b-2 items-center pb-2;
}

#name-photo {
    @apply flex justify-end items-center;
}
#search-bar img {
    width : 18px;
    height : 18px;
}
#modify-logo {
    width : 40px;
    height : 40px;
    @apply mr-5;
}  
#modify-logo:hover {
    cursor: pointer;
}
#avatar-logo {
    padding-left: 12px;
    width : 64px;
    height : 64px;
}
#avatar-logo:hover {
    cursor: pointer;
}