.container{
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.card{
    background-color:#F5F8E0;
    display: flex;
    width: 42%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    border-radius: 20px;
    padding: 0.6%;
    padding-right: 26px;
}

.card-content-img{
    display: flexbox;
    width: 20vw;
    max-width: 20vw;
    height: 55vh;
    max-height: 55vh;
    border-radius: 100px;
    margin-right: 5%;
    margin-left: 10px;
    margin-top: 10px;
    max-height: 55vh;
}
.card-content-img img{
    object-fit: cover;
}

.card-content-txt{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 66%;
    max-width: 66%;
}
.content-txt{
    display: flex;
    margin-top: 1.5vh;
}
.txt-left{
    
    white-space: nowrap;
    margin: 1%;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 15px;
    vertical-align: center;
}
.txt-right{
    width: 100%;
    margin: 5px;
    padding: 8px;
    background-color: #E7F39A;
    border-radius: 100px;
    text-align:left;
    font-weight: 600;
    font-family: "pantonRegular";
}
.txt-right2{
    width: 100%;
    margin: 5px;
    padding: 10px;
    background-color: #E7F39A;
    border-radius: 20px;
    text-align:left;
    font-weight: 600;
}
.photo-button{

    transform: translate(50%, -50%);
    width: 68px;
    height: 68px;
    top: 0;
    right : 0;
    background-image: url("/assets/img/buttonClose.svg");
    position: fixed;
    border-radius: 100px;
    background-repeat: no-repeat;
}
.pdfBtn{
    background-color: #E3254E;
    padding: 3%;
    width : 45%;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: 'pantonRegular';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}
.validBtn{
    background-color:#B7C90D;
    padding: 3%;
    width : 45%;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: 'pantonRegular';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    bottom:15px;
    
}
.shippedBtn{
    background-color:#4D9C18;
    padding: 3%;
    width : 45%;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: 'pantonRegular';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    bottom:15px;
}

img{
    height: 75%;
}
.pendingStatus{
    display: flex;
    padding-top:60px;
    justify-content: space-between;
}
.validatedStatus{
    display: flex;
    padding-top:60px;
    justify-content: space-between;
}
.no-overflow{
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.singleStatus{
    display: flex;
    justify-content: center;
    align-items: center;
    @apply m-auto
}