<div class="container">
  
  <div class="card" id="popup">
    <div class="card-content-img">
      <img src="/assets/img/placeholder.svg" alt="image participant">
      <br>
      <div class="all-btn">
        <div class="pendingStatus"  *ngIf="userData.status.includes('PENDING') && admin.includes('corder')">
          <button class="pdfBtn" (click)="userDenied()" >Refuser</button>
          <button class="validBtn" (click)="userValidated()">Valider</button>
        </div>
        <div class="singleStatus" *ngIf="userData.status.includes('DENIED') && admin.includes('corder')">
          <button class="validBtn" (click)="userValidated()">Valider</button>
        </div>
        <div class="validatedStatus" *ngIf="userData.status.includes('VALIDATED') && admin.includes('corder')">
            <button class="pdfBtn" (click)="userDenied()"> Refuser</button>
            <button class="shippedBtn" (click)="userShipped()">Envoyer</button>
        </div>
        <div class="singleStatus" *ngIf="userData.status.includes('VALIDATED') && admin.includes('cycleenterre')">
            <button class="shippedBtn" (click)="userShipped()">Envoyer</button>
        </div>

        <div class="singleStatus" *ngIf="userData.status.includes('SHIPPED')">
          <button class="shippedBtn">Envoyé</button>
        </div>
      </div>
    </div>

    <div class="card-content-txt no-overflow">
      
        <div class="content-txt">
          <p class="txt-left">Nom:</p>
          <p class="txt-right">{{userData.participantFirstName}}</p>
        </div>

        <div class="content-txt">
          <p class="txt-left">Prénom:</p>
          <p class="txt-right">{{userData.participantLastName}}</p>
        </div>

        <div class="content-txt">
          <p class="txt-left">Adresse mail:</p>
          <p class="txt-right">{{userData.participantEmail}}</p>
        </div>

          <br>
          <p class="txt-left">Adresse postale:</p>
          <p class="txt-right2">{{userData.participantAddress.street}}<br>{{userData.participantAddress.postCode + ", " +userData.participantAddress.city}}</p>
        
        <div class="content-txt">
          <p class="txt-left">Produit rapporté au recyparc:</p>
          <p class="txt-right">{{userData.productType}}</p>
        </div>

        <div class="content-txt">
          <p class="txt-left">Newsletter :</p>
          <p class="txt-right">
            @if(userData.acceptNewsletter){
              Oui
            }
            @else{
              Non
            }
          </p>
        </div>
        <div class="content-txt">
          <p class="txt-left">Autorisation d'utiliser la photo :</p>
          <p class="txt-right">
            @if(userData.acceptExposure){
              Oui
            }
            @else{
              Non
            }
          </p>
        </div>
      
    </div>
      <button class="photo-button" (click)="closePopUp()"></button>
  </div>
</div>



