<div class="video-container">
    <video
      #video
      id="video"
      autoplay
    ></video>

    <button class="btnFermeture" routerLink="/photo-capture-choice">
      <img src="/assets/img/snaps/croixFermeture.svg" alt="">
    </button>

    <button class="btnSnap" (click)="capture()">
      <img src="/assets/img/snaps/snapPicture.svg" alt="">
    </button>
</div>

<input type="file" accept="image/*" capture="user">


<canvas
#canvas
id="canvas"
[width]="WIDTH"
[height]="HEIGHT"
></canvas>