html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}

  
  .video-container {
    max-width: 100%; /* Set a pixel value instead if no parent container*/
    margin: 0 auto; /* Center the container */
    border: solid 2px red;
    overflow: hidden;
  }
  
  video {
    border: solid 5px green;
    width: 100%; /* Fill the available width */
    height: auto; /* Adjust height automatically */
  }

  .btnFermeture{
    position: absolute;
    top: 0;
    right: 0;
    margin: 5% 5% 0px 0px;
  }

  .btnSnap{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  #canvas{
    display: none;
  }
  