<div class="video-container">
    <video
      [class.show]="!isCaptured"
      [class.hide]="isCaptured"
      #video
      id="video"
      autoplay
    ></video>
    <!-- <canvas
      [class.show]="isCaptured"
      [class.hide]="!isCaptured"
      #canvas
      id="canvas"
    ></canvas> -->
</div>
  
<div class="snap-container">
  <button class="btn" *ngIf="!isCaptured" (click)="capture()" routerLink="/photo-validation">
    Prendre la photo
  </button>
  <button style="border: solid 3px gold;" routerLink="/photo-capture-choice">Revenir en arrière</button>
</div>