input{
    border: solid 1px #0E103B;
    background: transparent;
    outline: none;
    font-family: 'pantonRegular';
}

button{
    border: none;
    outline:none;
}

.center {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url("/assets/img/blurCompletebg.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    overflow: hidden;
}

header {
    width: 100%;
    height: 10%;
    background-color: #0E103B;
}

.title {
    color: var(--Noir, #0E103B);
    text-align: center;
    font-family: 'nexaRegular';
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

//Le rectangle principal contenant le formulaire
.formSquare{
    background-color: #F5F8E0;
    width: 50%;
    border-radius: 20px;
    padding: 25px;
    margin-bottom: 5%;
}

//Div du haut => Contient div gauche et div droite
.upPart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

//Div gauche => nom, prénom et mail
.leftPart{
    width: 40%; 
}
.inputname,.adress{
    margin-bottom: 6px;
    color: var(--Noir, #0E103B);
    font-family: 'pantonBold';
    font-size: 20px;
    font-style: normal;
    font-weight: 800; 
}
.input-left{
    width: 100%;
    padding: 12px 10px;
    border-radius: 50px;
    margin: 0px 0px 10px 0px;
}
.firstNameContainer input{
    margin-bottom: 25px;
}
.lastNameContainer input{
    margin-bottom: 25px;
}
.emailContainer input{
    margin-bottom: 25px;
}

//Div droite => adresse, code postal et ville + checkbox
.rightPart{
    width: 40%;
}
.input-right{
    width: 96%;
    padding: 12px 10px;
    border-radius: 50px;
    margin: 0px 0px 10px 0px;
}
.zip_cityContainer{
    display: flex;
    justify-content: space-between;
    width: 99%;
}
.zip{
    width: 29%;
}
.city{
    width: 61%;
}

// Début partie checkbox !!!!!!!!!!!!!!!!!!!!!!!!!!
.checkboxContainer{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}

.containerCheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.containerCheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #F5F8E0;
    border: solid 1px black;
  }


.containerCheck:hover input ~ .checkmark {
    background-color: #ccc;
  }

.containerCheck input:checked ~ .checkmark {
    background: url('/assets/img/checkMark.svg');
    background-position: center;
  }

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
.containerCheck input:checked ~ .checkmark:after {
    display: block;
  }
//Fin de la partie checkbox !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!


//Div down => tout les boutons ---------------------
.all-Btn{
    display: flex;
    justify-content: space-between; 
}

.stylebtn{
    padding: 10px 40px;
    border-radius: 100px;
    width: 200px;
}
    .stylebtn:hover{
        cursor: pointer;
    }

.backButton{
    background-color: #0E103B;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}

.backButton:hover{
    cursor: pointer;
    background-color: #0E101D;
}

.nextButton{
    background-color: #D6E177;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
}

.nextButton:hover{
    cursor: pointer;
    background-color: #94a31f;
}


//En cas d'erreur de formulaire ----------------------
.red-container::placeholder  {
    color: red;
}
.red-container{
    border:2px solid red !important;
}

//Ajuster pour tablette et écrans moyens -----------------
@media only screen and (max-width: 1024px) {
    .center{
        background: #F5F8E0 !important;
    }
    header{
        height: 5%;
    }
    .formSquare{
        width: 90%;
    }
    .upPart{
        flex-direction: column;
        align-items: center;
    }
    .leftPart{
        width: 100%;
    }
    .rightPart{
        width: 100%;
    }
    .input-left{
        width: 98%;
    }
    .input-right{
        width: 98%;
    }
  }

//Ajustements pour les téléphones plus petits en hauteur ------------------------
@media only screen and (max-height: 930px) {
    .center{
        overflow: visible;
    }
    .title{
        font-size: 42px; 
    }
    .inputname,.adress{
        font-size: 18px;
        margin-bottom: 2px;
    }
    .stylebtn{
        padding: 10px 20px;
        border-radius: 100px;
        width: 150px;
    }
    .input-left, .input-right{
        padding: 6px 10px;
    }
}

@media only screen and (max-height: 850px) {
    .title{
        font-size: 34px;
    }
    .inputname,.adress{
        font-size: 14px;
        margin-bottom: 2px;
    }
    .stylebtn{
        padding: 10px 20px;
        border-radius: 100px;
        width: 150px;
    }
    .input-left, .input-right{
        padding: 6px 10px;
    }
    .all-Btn{
        margin-bottom: -10%;
    }
}

@media only screen and (max-width: 400px) {
    .title{
        font-size: 28px;
    }
    .inputname,.adress{
        font-size: 12px;
        margin-bottom: 1px;
    }
    .stylebtn{
        padding: 10px 20px;
        border-radius: 100px;
        width: 150px;
    }
    .input-left, .input-right{
        padding: 6px 10px;
    }
    .containerCheck input{
        font-size: 10px;
    }
    .checkboxContainer{
        width: 113%;
    }
}