    <button style="background-color: red;" routerLink="/thanks">skip et go thanks</button>

    <form class="formContainer" [formGroup]="infoForm" (ngSubmit) ="getForm()">
            <h1>Vos infos</h1>
    <!--PRENOM-->
            <div>
                <p class="titleFont">Prénom</p>
                <input type="text" placeholder="Remy"   [ngClass]="{'red-container': infoForm.get('firstName')?.touched && infoForm.get('firstName')?.errors?.['required']}"formControlName="firstName">          
            </div>

    <!--NOM-->
            <div>
                <p class="titleFont">Nom</p>
                <input type="text" placeholder="Dos"   [ngClass]="{'red-container': infoForm.get('lastName')?.touched && infoForm.get('lastName')?.errors?.['required']}"formControlName="lastName">
            </div>

    <!-- ADRESSE MAIL -->
            <div>
                <p class="titleFont">Adresse email</p>
                <input type="text" placeholder="abc@exemple.be"   [ngClass]="{'red-container': infoForm.get('email')?.touched && infoForm.get('email')?.errors?.['required'] || infoForm.get('email')?.errors?.['pattern']}"formControlName="email">
                
                @if(infoForm.get('email')?.errors?.['pattern']){
                    Mauvais format
                }
            </div>

    <!--ADRESSE-->
            <div>
                <p class="titleFont">Adresse</p>
                <input type="text" placeholder="Adresse complète"   [ngClass]="{'red-container': infoForm.get('street')?.touched && infoForm.get('street')?.errors?.['required']}"formControlName="street">
            </div>

    <!--POSTAL-->
            <div class="form-row">
                <input type="text" placeholder="Code postal"   [ngClass]="{'red-container': infoForm.get('postCode')?.touched && infoForm.get('postCode')?.errors?.['required']}"formControlName="postCode">
    <!--VILLE-->
                <input type="text" placeholder="Ville"   [ngClass]="{'red-container': infoForm.get('city')?.touched && infoForm.get('city')?.errors?.['required']}"formControlName="city">
            </div>


    <!--CHECKBOX CONDITIONS-->
            <label>
                <input type="checkbox" formControlName="conditionJeu"/>
                J'ai lu et j'accepte
                <a class="linkFont" href="https://www.pwrp.be/_files/ugd/bbef1f_e1c8d82b848642d593b85d811057df81.pdf"> les conditions du jeu</a>
            </label>

    <!--CHECKBOX NEWSLETTER-->
            <label>
                <input type="checkbox" formControlName="newsletter" (change)="onCheckBoxChange()"/>
                Je désire rester informé de l'actualité de l'asbl CORDER
            </label>

    <!--CHECKBOX RGPD-->
            <label>
                <input type="checkbox" formControlName="rgpd" />
                J'ai lu et j'accepte 
                <a href="https://www.pwrp.be/_files/ugd/bbef1f_e1c8d82b848642d593b85d811057df81.pdf">la politique générale de protections des données</a>               
            </label>

            <label>
                <input type="checkbox" (change)="checkState()"/>
                J'accepte que ma photo soit utilisée dans le cadre des actions de l'ASBL CORDER               
            </label>

            <div class="all-btn">
                <input class="btn1 btnStyle" routerLink="/good-practice" value="Retour">
                <input class="btn2 btnStyle" type="submit" value="Je participe !">
            </div>
    </form>

