<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infos</title>
</head>
<body class="styleFond">

    <h1 class="titleFont">Vos infoss</h1>
    <form class="formContainer" [formGroup]="infoForm" (ngSubmit) ="getForm()">

        <div class="form-row">
            <p class="titleFont">Prénom</p>
            <input class="police"  type="text" placeholder="Fifi" formControlName="firstName">
            <span>
                @if (infoForm.get('firstName')?.touched && infoForm.get('firstName')?.errors?.['required']) {
                    Champ requis
                }
            </span>            
        </div>

        <div class="form-row">
            <p class="titleFont">Nom</p>
            <input type="text" placeholder="Franchamps" formControlName="lastName">
            @if (infoForm.get('lastName')?.touched && infoForm.get('lastName')?.errors?.['required']) {
                Champ requis
            } 
        </div>

        <div class="form-row">
            <p class="titleFont">Adresse email</p>
            <input type="text" placeholder="fifi.franchamps@gmail.com" formControlName="email">
            @if (infoForm.get('email')?.touched && infoForm.get('email')?.errors?.['required']) {
                Champ requis
            }
            @if(infoForm.get('email')?.errors?.['pattern']){
                Mauvais format
            }
        </div>
        <div class="form-row">
            <p class="titleFont">Adresse postale</p>
            <input  type="text" placeholder="Rue Cerisier d'Haine, 12" formControlName="street">
            @if (infoForm.get('street')?.touched && infoForm.get('street')?.errors?.['required']) {
                Champ requis
            }
        </div>
        <div class="form-row">
            <input  type="text" placeholder="1301" formControlName="postCode">
            @if (infoForm.get('postCode')?.touched && infoForm.get('postCode')?.errors?.['required']) {
                Champ requis
            }
        </div>
        <div class="form-row">
            <input  type="text" placeholder="Wavre" formControlName="city">
            @if (infoForm.get('city')?.touched && infoForm.get('city')?.errors?.['required']) {
                Champ requis
            }
        </div>
        <div class="all-btn">
            <input class="btn btnStyle" type="submit" [disabled]="!infoForm" value="Je participe !"><br>
        </div>
    </form>
</body>
</html>
