#main {
    height:fit-content;
    @apply flex justify-between;
}
.photo-area {
    width : 70%;
}
.frame {
    background-color: #F5F8E0;
    border-radius : 20px; 
<<<<<<< HEAD
<<<<<<< HEAD
    @apply p-4 mb-5 pt-1;
=======
    margin-bottom: 1.79vh;
    @apply pl-2;
>>>>>>> 0b402f998d4085428a825dc766ea59f0eb01d35b
=======
    margin-bottom: 1.79vh;
    @apply pl-2;
>>>>>>> admin-validated
}
.title-frame {
    color: #81848d;
    font-weight:800;
    font-size: 2.5vh;
    padding-bottom: 1px;
<<<<<<< HEAD
<<<<<<< HEAD
    @apply pb-2;
=======
    padding-top: 1vh;
>>>>>>> 0b402f998d4085428a825dc766ea59f0eb01d35b
=======
    padding-top: 1vh;
>>>>>>> admin-validated
}
.grid-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    padding-right: 5%;
}
.see-more {
    font-weight: bold;
    vertical-align: center;
}

.image-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @apply pb-4;
}
.image-container:hover {
    cursor: pointer;
}
.see-more {
    height : 90%;
}
.image-container.see-more:hover {
    cursor: pointer;
    border-radius : 20px; 
    @apply border
}

img {
    height : 23vh;
}
.main-info-section {
    width : 28%;
}
.frame-total {
    height : 20%;
}
.big-data {
    font-weight : nexaRegular;
    color: #0E103B;
    font-weight:900;
    font-size: 3.7vh;
}
.big-data.big-big {
    font-size : 5.1vh;
}
.in-frame {
    @apply pt-2;
}
.frame-week {
    height : 42vh;
}
.graph-vertical-week {
    column-gap: 4%;
    width : 90%;
    height : fit-content;
    @apply row-span-5 grid grid-cols-7;
}
.graph-vertical-bars {
    height : 100%;
}
.bg-graph-vertical {
    height : 26vh;
    border-radius: 5px;
    background-color: #E7F39A;
    display: flex;
    flex-direction: column-reverse;
}
.monday {
    border-radius: 4px;
    height : 45%;
    background-color: #12A19A;
}
.tuesday {
    border-radius: 4px;
    height : 50%;
    background-color: #12A19A;
}
.wednesday {
    border-radius: 4px;
    height : 55%;
    background-color: #12A19A;
}
.thursday {
    border-radius: 4px;
    height : 62%;
    background-color: #12A19A;
}
.friday {
    border-radius: 4px;
    height : 70%;
    background-color: #12A19A;
}
.saturday {
    border-radius: 4px;
    height : 75%;
    background-color: #12A19A;
}.sunday {
    border-radius: 4px;
    height : 80%;
    background-color: #12A19A;
}

.graph-vertical-bars p {
    text-align: center;
}
.graph-vertical-bars p {
    height : 1.2vh;
}
.frame-timer {
    height : 16vh;  
}
p {
    font-size : 1.79vh;
}