#main {
    height:fit-content;
    @apply flex justify-between;
}
.photo-area {
    width : 70%;
    height : fit-content;
    align-content: center;
}
.frame {
    background-color: #F5F8E0;
    border-radius : 20px; 
    margin-bottom: 1.79vh;
    height : 33.42vh;
    @apply pl-3;
}
.title-frame {
    color: #81848d;
    font-weight:800;
    font-size: 2.5vh;
    padding-bottom: 1px;
    padding-top: 1vh;
}
.grid-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-right: 5%;
    padding-top : 1vh;
    height : 100%;
}
.see-more {
    font-weight: bold;
    vertical-align: center;
}

.image-container {
    width : 11.57vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height : 26vh;
}
.image-container:hover {
    cursor: pointer;
}
.see-more {
    width : 11.57vw;
}
.image-container.see-more:hover {
    cursor: pointer;
    border-radius : 10px; 
    @apply border
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.main-info-section {
    width : 28%;
}
.frame-total {
    height : 20%;
}
.big-data {
    font-family : nexaRegular;
    color: #0E103B;
    font-weight:900;
    font-size: 3.7vh;
}
.big-data.big-big {
    font-size : 5.1vh;
}
.in-frame {
    @apply pt-2;
}
.frame-week {
    height : 42vh;
}
.graph-vertical-week {
    column-gap: 4%;
    width : 90%;
    height : fit-content;
    @apply row-span-5 grid grid-cols-7;
}
.graph-vertical-bars {
    height : 100%;
}
.bg-graph-vertical {
    height : 26vh;
    border-radius: 5px;
    background-color: #E7F39A;
    display: flex;
    flex-direction: column-reverse;
}
.monday {
    border-radius: 4px;
    height : 0;
    background-color: #12A19A;
}
.tuesday {
    border-radius: 4px;
    height : 0;
    background-color: #12A19A;
}
.wednesday {
    border-radius: 4px;
    height : 0;
    background-color: #12A19A;
}
.thursday {
    border-radius: 4px;
    height : 0;
    background-color: #12A19A;
}
.friday {
    border-radius: 4px;
    height : 0;
    background-color: #12A19A;
}
.saturday {
    border-radius: 4px;
    height : 0;
    background-color: #12A19A;
}.sunday {
    border-radius: 4px;
    height : 0;
    background-color: #12A19A;
}

.graph-vertical-bars p {
    text-align: center;
}
.graph-vertical-bars p {
    height : 1.2vh;
}
.frame-timer {
    height : 16vh;  
}
p {
    font-size : 1.79vh;
}
.popup-activated {
    pointer-events: none;
}