<div id="main">
    <div class="photo-area">
        <div class="frame ">
            <h2>Photos en attente</h2>
            <div class="on-hold-images ">
                <div class="image-container">
                    <img src="/assets/img/placeholder.svg" alt="Image 1" class="image" />
                </div>
                <div class="image-container">
                    <img src="/assets/img/placeholder.svg" alt="Image 2" class="image" />
                </div>
                <div class="image-container">
                    <img src="/assets/img/placeholder.svg" alt="Image 3" class="image" />
                </div>
                <div class="image-container">
                    <a>Voir plus</a>
                </div>
            </div>
        </div>
        
        <div class="frame">
            <h2>Photos validées</h2>
            <div class="on-hold-images ">
                <div class="image-container">
                    <img src="" alt="Image 1" class="image" />
                </div>
                <div class="image-container">
                    <img src="" alt="Image 2" class="image" />
                </div>
                <div class="image-container">
                    <img src="" alt="Image 3" class="image" />
                </div>
                <div class="image-container">
                    <a>Voir plus</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-info-section">
        <div class="frame">
            <h2>Participants</h2>
            <p>
                1222 personnes
            </p>
            <p>
                Dernière maj : une date
            </p>
        </div>
        <div class="frame">
            <h2>Participants cette semaine</h2>
            <p>
                14
            </p>
            <p>
                moyenne quotidienne
            </p>
        </div>
        <div class="frame">
            <h2>Nombre de jours restants</h2>
            <p>
                6 jours
            </p>
            <p>
                Campagne : du 21 mars au 20 juin
            </p>
        </div>
    </div>
</div>

