<div id="main">
    <div class="photo-area">
        <div class="frame ">
            <div class="title-frame">
                Photos en attente
            </div>
            <div class="grid-images ">
                <div class="image-container" (click)="setId(dashboard.lastThreePending[0]); displayPopup()">
                    <img [src]="this.lastThreePending[0]" alt="Image 1" class="image" />
                </div>
                <div class="image-container" (click)="setId(dashboard.lastThreePending[0]); displayPopup()">
                    <img [src]="this.lastThreePending[1]" alt="Image 2" class="image" />
                </div>
                <div class="image-container" (click)="setId(dashboard.lastThreePending[0]); displayPopup()">
                    <img [src]="this.lastThreePending[2]" alt="Image 3" class="image" />
                </div>
                <div class="image-container see-more" routerLink="/admin/participants">
                    <a>Voir plus</a>
                </div>
            </div>
        </div>
        
        <div class="frame">
            <div class="title-frame">
                Photos validées
            </div>
            <div class="grid-images">
                <div class="image-container" (click)="setId(dashboard.lastThreeValidated[0]); displayPopup()">
                    <img [src]="this.lastThreeValidated[0]" alt="Image 1" class="image" />
                </div>
                <div class="image-container" (click)="setId(dashboard.lastThreeValidated[1]); displayPopup()">
                    <img [src]="this.lastThreeValidated[1]" alt="Image 2" class="image" />
                </div>
                <div class="image-container" (click)="setId(dashboard.lastThreeValidated[2]); displayPopup()">
                    <img [src]="this.lastThreeValidated[2]" alt="Image 3" class="image" />
                </div>
                <div class="image-container see-more" routerLink="/admin/participants">
                    <a>Voir plus</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-info-section">
        <div class="frame frame-total">
            <div class="title-frame">
                Participants
            </div>
            <div class="big-data">
                {{dashboard.countParticipants}} personnes
            </div>
            <p>
                Dernière mise à jour : {{getCurrentDate()}}
            </p>
        </div>
        <div class="frame frame-week">
            <div class="title-frame">
                Participants cette semaine
            </div>
            <div class="big-data big-big">
                {{weekParticipants}}
            </div>
            <div class="in-frame">
                <div class="graph-vertical-week">
                    <div class="graph-vertical-bars">
                        <div class="bg-graph-vertical">
                            <div class="monday"></div>
                        </div>
                        <p>L</p>
                    </div>
                    <div class="graph-vertical-bars">
                        <div class="bg-graph-vertical">
                            <div class="tuesday"></div>
                        </div>
                        <p>M</p>
                    </div>
                    <div class="graph-vertical-bars">
                        <div class="bg-graph-vertical">
                            <div class="wednesday"></div>
                        </div>
                        <p>M</p>
                    </div>
                    <div class="graph-vertical-bars">
                        <div class="bg-graph-vertical">
                            <div class="thursday"></div>
                        </div>
                        <p>J</p>
                    </div>
                    <div class="graph-vertical-bars">
                        <div class="bg-graph-vertical">
                            <div class="friday"></div>
                        </div>
                        <p>V</p>
                    </div>
                    <div class="graph-vertical-bars">
                        <div class="bg-graph-vertical">
                            <div class="saturday"></div>
                        </div>
                        <p>S</p>
                    </div>
                    <div class="graph-vertical-bars">
                        <div class="bg-graph-vertical">
                            <div class="sunday"></div>
                        </div> 
                        <p>D</p>
                    </div>   
                </div>
            </div>
        </div>
        <div class="frame frame-timer">
            <div class="title-frame">
                Nombre de jours restants
            </div>
            <p class="big-data">
                {{timeLeft}} jours
            </p>
            <p>
                Campagne : du 21 mars au 20 juin
            </p>
        </div>
    </div>
</div>
@if (getstate()) {
    <app-popup-validation></app-popup-validation>
}
