<div class="main">
    <div class="title">
        Photos refusées
    </div>
    <div class="sort-area">
        <span>trier par : </span>
        <span class="buttons-sort">
            <button (click)="sortDate()">récent</button>
            <button (click)="sortDateDecreasing()">ancien</button>
            <button (click)="sortName()">nom</button>
        </span>
    </div>
    <div class="row">
        @for (p of listParticipants; track $index) {
            <div class="card" (click)="setId(p.id); displayPopup()">
                <div class="photo">
                    <img [src]="photosParticipants[$index].photo" />
                </div>
                <div class="below-area">
                    <div class="name-date">
                        <div class="name">
                            {{p.participantFirstName}} {{p.participantLastName}}
                        </div>
                        <div class="date">
                            participation le {{p.participationDate | date:'dd/MM/yyyy'}}
                        </div>
                    </div>
                    <img src="/assets/img/stateIndicators/denied.svg" alt="validated" />
                </div>
            </div>
        }
    </div>
    <div class="move-page-area">
        <div class="previous-page">
            <a (click)="showPrevious()">Page précédente</a>
        </div>
        <div class="next-page">
            <a (click)="showNext()">Page suivante</a>
        </div>
    </div>
</div>
@if (getstate()) {
    <app-popup-validation></app-popup-validation>
}