<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body>
    <div class="center">
        <p class="p-style-error">Error</p>
        <p class="p-style-qcq">404</p>
        <p style="font-weight: 500; font-size: 22px;">Oops ! Cette page est introuvable...</p>
        <div class="all-btn">
            <a class="btn btnStyle1" routerLink="/">Retour à la page d'accueil</a> 
        </div>
    </div>
</body>
</html>