@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
    height: 100%;
    font-family: Arial, sans-serif;}

=======
body{
    background-color:  #f5f8e0;
}
>>>>>>> 34f6f85c857ea376973df15bc289136e9fdd23ab
