@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color:  #f5f8e0;
}
@font-face {
	font-family: 'nexaRegular';
    src: url("/assets/fonts/NexaSlabHeavy.ttf");
}
@font-face {
	font-family: 'pantonRegular';
    src: url("/assets/fonts/Panton-Regular.ttf");
}
@font-face {
	font-family: 'pantonBold';
    src: url("/assets/fonts/Panton-Bold.ttf");
}
@font-face {
	font-family: 'pantonExtraBold';
    src: url("/assets/fonts/Panton-ExtraBold.ttf");
}

