<div class="main">
    <div class="test">
    </div>
    <div class="title">
        Connexion Admin
    </div>
    <div class="frame">
        <form [formGroup]="loginForm" (submit)="login()">
            <div class="fields">
                <label>Login</label>
                <input type="text" formControlName="login" class="form-control" />
            </div>
            <div class="fields">
                <label>Mot de passe</label>
                <input type="password" formControlName="password" class="form-control" />
            </div>
            <div class="button-area">
                <button [disabled]="!loginForm.valid" type="submit">Connexion</button>
            </div>
        </form>
    </div>
</div>