<div class="main">
    <div>
        Connexion Admin
    </div>
    <div class="frame">
        <form [formGroup]="loginForm" (submit)="login()">
            <div class="mb-4">
                <label>Login</label>
                <input type="text" formControlName="login" class="form-control" />
            </div>
            <div class="mb-4">
                <label>Mot de passe</label>
                <input type="password" formControlName="password" class="form-control" />
            </div>
            <div>
                <button class="btn" type="submit">Se connecter</button>
            </div>
        </form>
    </div>
</div>