<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merci !</title>
</head>
<body>
    <div class="center">
        <p class="p-style-thanks">Merci !</p>
        <p class="p-style-participation">Merci pour votre participation !</p>
        <p>Un mail de confirmation vous a été envoyé.<br> Votre photo sera prise en charge par notre équipe afin de la valider.</p>
            <div class="line"></div>
        <p class="informations">Pour plus d'informations, n'hésitez pas à télécharger notre guide</p>
        <div class="all-btn">
            <a class="btn btnStyle1" href="https://8264e3fe-fee4-4848-bbcb-66c6942962ea.filesusr.com/ugd/bbef1f_7eea6d7fcc84428cb88e12b77c949901.pdf" target="_blank">Télécharger le PDF</a>
            <a class="btn btnStyle2" routerLink="/">Retour sur le site web</a> 
        </div>
    </div>
</body>
</html>