.center {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url("/assets/img/blurCompletebg.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    overflow: hidden;
}

header{
    width: 100%;
    height: 10%;
    background-color: #0E103B;
}

// .opaque{
//     opacity: 6%;
// }

.bigTitle{
    font-family: 'nexaRegular';
    font-size: 57px;
    font-weight: 900;
    color: var(--Noir, #0E103B);
    text-align: center;
}

.litTit_para1{
    text-align: center;
}

.littleTitle{
    font-family: 'pantonRegular';
    font-size: 28px;
    font-weight: 800;
    color: var(--Noir, #0E103B); 
}

.para1{
    margin-top: 10%;
}

.para2{
    width: 35%;
}

.para1, .para2{
    color: var(--Noir, #0E103B);
    text-align: center; 
    font-family: 'pantonRegular';
    font-size: 20px;
    font-style: normal;
    font-weight: 400; 
}

.line{
    width: 244px;
    height: 2px; 
    background: #0E103B; 
}

.containerImg{
    border-radius: 20px;
    width: 25%;
    height: 25%;
    background-image: url("/assets/img/thanks-img/guideBpUHD.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 2%;
}

.containerPdfBtn{
    margin-bottom: -2%;
}

.pdfBtn{
    background-color: #B7C90D;
    padding: 10px 35px;
    border-radius: 50px;
    text-decoration: none;
    color: #0E103B;
    text-align: center;
    font-family: 'pantonRegular';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.pdfBtn:hover{
    background-color: #91a00b;
}

.backBtn{
    background-color: #0E103B;
    width: 480px;
    height: 40px;
    border-radius: 50px;
    color: #F5F8E0;
    text-decoration: none;
    font-family: 'pantonRegular';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border: none;
    margin-bottom: 10%;
}

.backBtn:hover{
    background-color: #03030c;
    cursor: pointer;
}

a{
    text-decoration: none;
}

p{
    text-align: center;
    margin: 0px 8px;
}

.all-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-button{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.btn2{
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    border-radius: 50px;
}

.btnStyle3{
    background-color: #e7f39a;
    color: #0E103B;
    margin-bottom: 10px;
    font-weight: 700;
}

.btnStyle3:hover{
    cursor: pointer;
    background-color: #94a31f;
}

.btnStyle4{
    background-color: #0E103B;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 10px;
}

.btnStyle4:hover{
    background-color: #0E101D;
}


.chevronRight{
    display: flex;
    justify-content: space-between;
}

.centerTextBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.card{
    width: 50%;
    position: absolute;
    top: 40%;
    left: 25%;
    border: dashed 2px;
    border-radius: 5px;
    display: none;
    background-color: #f5f8e0;
    justify-content: center;
    align-items: center;
}

.limit{
    color: red;
  }

.containe{
    display: flex;
    position: absolute;
    top:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

h2{
    font-weight: 700;
    text-align: center;
    font-size: larger;
    margin-top: 5px;
}
input[name="groupRadio"]{
   visibility: hidden;
}

#emote1{
    height:86px;
    width: 101px;
    
    transition:opacity 0.5s;
}
#emote2{
    height:86px;
    width: 86px;
    
    transition: opacity 0.5s;
}
#emote3{
    height: 93px;
    width: 93px;
    transition: opacity 0.5s;
}
#emote1:hover,#emote2:hover,#emote3:hover{
    opacity: 1;

}
.opacityTrue{
    opacity:1;
}
.opacityFalse{
    opacity:0.6;
}
textarea{
    background-color:#f5f8e0;

    width: 96%;
  
    margin-left: 2%;
    margin-right: 2%;
    

    border: 2px solid;
    border-radius: 10px;
    padding : 10px;
    resize: none;
    
}
h3{
    margin-left: 12px;
    font-weight: 700;
}
.button-comment{
    display: flex;
    justify-content: space-between;
}
.btn3{
    padding: 10px 20px;
    border-radius: 25px;
    margin: 15px 20px 20px 15px;
}

.textarea-container {
    position: relative;
}

.textarea-container p {
    position: absolute;
    bottom: 20px;
    right: 50px;
    margin: 0;
}


@media only screen and (max-width: 1732px) {
    .para2{
        width: 40%;
    }
}

@media only screen and (max-width: 1391px) {
    .para2{
        width: 50%;
    }
    .containerImg{
        width: 35%;
    }
}

@media only screen and (max-width: 1000px) {
    header{
        height: 6%;
    }
    .containerImg{
        width: 50%;
    }
    .littleTitle{
        margin-bottom: 5%;
    }
    .litTit_para1{
        width: 80%;
    }
    .para2{
        width: 70%;
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .center{
        background-image: url("/assets/img/thanksBackgroundMobile.png");
    }

    .card{
        top: 25%;
        width: 90%;
        left: 5%;
    }
    .containerImg{
        width: 90%;
    }
    .litTit_para1{
        width: 90%;
    }
    .para2{
        line-height: 170%;
        width: 90%;
    }
    .backBtn{
        width: 400px;
    }
}

@media only screen and (max-width: 420px) {
    .backBtn{
        width: 300px;
    }
}